{
    "jsxSingleQuote": false,
    "printWidth": 160,
    "quoteProps": "consistent",
    "singleAttributePerLine": false,
    "singleQuote": true,
    "tabWidth": 4,
    "plugins": [
        "prettier-plugin-tailwindcss",
        "@prettier/plugin-php"
    ],
    "tailwindStylesheet": "./src/styles/index.css",
    "phpVersion": "8.3",
    "braceStyle": "1tbs"
}
