{
    "jsxSingleQuote": false,
    "printWidth": 160,
    "quoteProps": "consistent",
    "singleAttributePerLine": false,
    "singleQuote": true,
    "tabWidth": 4,
    "plugins": ["prettier-plugin-tailwindcss"],
    "tailwindStylesheet": "./src/styles/index.css"
}
