@import url('https://fonts.googleapis.com/css2?family=Gabarito:wght@400..900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');
@import 'tailwindcss';
@import './repeating-linear-gradient';
@import './show-breakpoint';

@theme {
    --font-roboto: 'Roboto', Arial, sans-serif;
    --font-gabarito: 'Gabarito', sans-serif;

    /* colors from the designer: */
    --color-theme-dunkelgruen: #758d76;
    --color-theme-gelb: #ebbd27;
    --color-theme-weinrot: #9e4f5b;
    --color-theme-hellgruen: #afc9ba;

    --color-theme-primary: #619961;
    --color-theme-primary-variation: #76ad85;
    --color-theme-secondary: #7e303b;
    --color-theme-cta: #ff9721;
    --color-theme-accent: #ffd82d;
}

@theme inline {
    --color-theme-background: var(--color-neutral-100);
    --color-theme-text: var(--color-slate-800);
    --color-theme-link: var(--color-slate-700);

    --shadow-level-1: 0 1px 2px var(--tw-drop-shadow-color, rgba(0, 0, 0, 0.08)), 0 2px 4px var(--tw-drop-shadow-color, rgba(0, 0, 0, 0.06));
    --shadow-level-2: 0 2px 4px var(--tw-drop-shadow-color, rgba(0, 0, 0, 0.1)), 0 4px 8px var(--tw-drop-shadow-color, rgba(0, 0, 0, 0.08));
    --shadow-level-3: 0 4px 8px var(--tw-drop-shadow-color, rgba(0, 0, 0, 0.14)), 0 8px 16px var(--tw-drop-shadow-color, rgba(0, 0, 0, 0.12));
    --shadow-level-4: 0 8px 16px var(--tw-drop-shadow-color, rgba(0, 0, 0, 0.18)), 0 16px 32px var(--tw-drop-shadow-color, rgba(0, 0, 0, 0.16));
    --shadow-level-5: 0 12px 24px var(--tw-drop-shadow-color, rgba(0, 0, 0, 0.25)), 0 24px 48px var(--tw-drop-shadow-color, rgba(0, 0, 0, 0.22));

    --drop-shadow-centered-xs: 0 0 1px var(--tw-drop-shadow-color, rgb(0 0 0 / 0.15));
    --drop-shadow-centered-sm: 0 0 2px var(--tw-drop-shadow-color, rgb(0 0 0 / 0.15));
    --drop-shadow-centered-md: 0 0 3px var(--tw-drop-shadow-color, rgb(0 0 0 / 0.15));
    --drop-shadow-centered-lg: 0 0 4px var(--tw-drop-shadow-color, rgb(0 0 0 / 0.15));
}

/* "If you want to add your own default base styles for specific HTML elements, use the @layer directive to add those styles to Tailwind's base layer" */
@layer base {
    html {
        @apply [--header-footer-height:--spacing(18)] [--header-footer-margin:calc(var(--header-footer-offset)*2)] [--header-footer-offset:--spacing(3)] md:[--header-footer-offset:--spacing(4)] xl:[--header-footer-height:--spacing(28)] xl:[--header-footer-offset:--spacing(4)];
        @apply [scroll-padding-top:var(--scroll-padding-top-value)] scroll-smooth [--scroll-padding-top-value:calc(var(--header-footer-height)+(var(--header-footer-margin)))] md:[--scroll-padding-top-value:calc(var(--header-footer-height)+2*var(--header-footer-margin))];
        /* @apply [--clip-path-angled-bottom:polygon(0%_0%,100%_0%,100%_calc(100%-var(--header-footer-offset)),0%_100%)] [--clip-path-angled-full:polygon(0%_var(--header-footer-offset),100%_0%,100%_calc(100%-var(--header-footer-offset)),0%_100%)] [--clip-path-angled-top:polygon(0%_var(--header-footer-offset),100%_0%,100%_100%,0%_100%)]; */
        @apply [--clip-path-angled-bottom:polygon(0%_0%,100%_0%,100%_100%,0%_calc(100%-var(--header-footer-offset)))] [--clip-path-angled-full:polygon(0%_0%,100%_var(--header-footer-offset),100%_100%,0%_calc(100%-var(--header-footer-offset)))] [--clip-path-angled-top:polygon(0%_0%,100%_var(--header-footer-offset),100%_100%,0%_100%)];
    }

    body {
        @apply mx-auto w-dvw bg-theme-background bg-[url(/svg/symbole_hintergrund.svg)] [background-size:100%] [background-position:0_var(--header-footer-margin)] font-roboto text-xs font-normal text-theme-text md:text-sm;
        @apply [--container-width:calc(100dvw-(2*var(--container-horizontal-margin)))] [--page-height-no-header-no-footer:calc(100dvh-2*var(--header-footer-height))];
        @apply [--container-horizontal-margin:--spacing(4)] md:[--container-horizontal-margin:--spacing(16)] lg:[--container-horizontal-margin:--spacing(32)] xl:[--container-horizontal-margin:--spacing(56)] 2xl:[--container-horizontal-margin:--spacing(76)];
        @apply [--content-card-padding-double:calc(var(--content-card-padding)*2)] [--content-card-padding-half:calc(var(--content-card-padding)/2)] [--content-card-padding:--spacing(2)];
    }

    main {
        @apply mx-auto;
    }

    h1 {
        @apply mt-4 mb-2 font-gabarito text-4xl leading-[1] md:text-5xl md:leading-(--text-5xl--line-height);
    }

    h2 {
        @apply mt-4 mb-2 font-gabarito text-3xl leading-[1.05] md:text-4xl md:leading-(--text-4xl--line-height);
    }

    h3 {
        @apply mt-4 mb-2 font-gabarito text-2xl leading-[1.1] md:text-3xl md:leading-(--text-3xl--line-height);
    }

    h4 {
        @apply mt-4 mb-2 font-gabarito text-xl leading-[1.2] md:text-2xl md:leading-(--text-2xl--line-height);
    }

    h5 {
        @apply mt-4 mb-2 font-gabarito text-lg leading-[1.25] md:text-xl md:leading-(--text-xl--line-height);
    }

    h6 {
        @apply mt-4 mb-2 font-gabarito text-base lg:text-lg;
    }

    p {
        @apply my-4 first-of-type:mt-0 last-of-type:mb-0;
    }

    a {
        @apply text-theme-link hover:underline active:underline;
    }

    hr {
        @apply w-full border-b-4;
    }

    ol,
    ul {
        @apply ml-6 list-outside marker:text-theme-accent;
    }

    ul {
        @apply list-[disclosure-closed];
    }

    ol {
        @apply list-decimal;
    }

    li {
        @apply my-1.5;
    }
}

/*  "Use the components layer for any more complicated classes you want to add to your project that you'd still like to be able to override with utility classes. Traditionally these would be classes like 'card', 'btn', 'badge'"
    "By defining component classes in the components layer, you can still use utility classes to override them when necessary"
    "The components layer is also a good place to put custom styles for any third-party components you're using"
*/
@layer components {
    #frontend-root {
        @apply min-h-(--page-height-no-header-no-footer) w-full;
    }

    .button {
        @apply relative inline-block cursor-pointer rounded-xl bg-theme-cta py-2 pr-8 pl-2 font-gabarito text-base leading-none text-white no-underline transition-[border-color,background-color,transform] duration-75 hover:-translate-y-px hover:bg-theme-cta/90 focus:-translate-y-px;
        @apply after:absolute after:top-1/2 after:right-2 after:size-3 after:-translate-y-1/2 after:bg-theme-accent after:transition-[background-color] after:[clip-path:polygon(0%_0%,100%_50%,0%_100%)] hover:after:bg-theme-primary-variation hover:after:duration-500;
    }

    .button-cta {
        @apply relative inline-block cursor-pointer rounded-xl bg-theme-cta py-2 pr-8 pl-2 font-gabarito text-base leading-none text-white no-underline transition-[border-color,background-color,transform] duration-75 hover:-translate-y-px hover:bg-theme-cta/90 focus:-translate-y-px;
        @apply after:absolute after:top-1/2 after:right-2 after:size-3 after:-translate-y-1/2 after:bg-theme-accent after:transition-[background-color] after:[clip-path:polygon(0%_0%,100%_50%,0%_100%)] hover:after:bg-theme-primary-variation hover:after:duration-500;
    }

    .floating-button {
        @apply relative inline-block cursor-pointer rounded-full bg-theme-cta/95 px-2 py-1.5 font-gabarito text-base text-white no-underline shadow-level-3 shadow-black/20 outline-2 outline-offset-0 outline-theme-accent transition-[outline-color,outline-width,outline-offset,scale] hover:scale-110 hover:shadow-black/25 hover:outline-4 hover:outline-offset-4 hover:outline-theme-accent/75 focus:-translate-y-px;
    }

    .element-level-1 {
        @apply rounded-xs border border-theme-primary bg-white text-theme-text shadow-level-2;
    }

    .element-level-2-interactive {
        @apply element-level-2;
        @apply transition-[transform] duration-75 hover:-translate-y-px active:-translate-y-px;
    }

    /* input[name="input-radio-leistungen"] + label  */
    .header-menu-item {
        @apply relative flex flex-row items-center drop-shadow-xs drop-shadow-black/20;
    }

    .header-menu-item-label {
        @apply rounded-xs border border-theme-primary py-px pr-0.5 text-theme-primary-variation peer-checked:text-theme-background hover:text-theme-background hover:**:no-underline! peer-checked:hover:**:cursor-default! md:py-0 md:pr-2;
        @apply after:absolute after:top-0 after:left-0 after:-z-10 after:h-full after:w-full after:bg-theme-background after:transition-[transform,background-color] peer-checked:after:bg-theme-primary-variation hover:after:bg-theme-primary-variation;
    }

    .header-menu-item-label > a {
        @apply block flex h-5 flex-row items-center leading-none text-inherit select-none lg:h-6 xl:h-7;
    }

    .header-menu-item-label > a > img {
        @apply inline-block aspect-square h-full -translate-x-1/4 scale-130 object-cover;
    }

    .image-hover {
        @apply transition-[filter] group-hover:brightness-110 group-hover:saturate-125 hover:brightness-110 hover:saturate-125 active:brightness-110 active:saturate-125;
    }

    .input-clip-hidden {
        @apply absolute -z-1000 size-0 [clip-path:polygon(0%_0%,0%_0%,0%_0%)];
    }
}

@utility bg-inset-gradients {
    background-image:
        linear-gradient(180deg, --alpha(var(--color-white) / 25%) 0%, transparent 10px, transparent calc(100% - 5px), --alpha(var(--color-white) / 10%) 100%),
        linear-gradient(90deg, --alpha(var(--color-white) / 10%) 0%, transparent 5px, transparent calc(100% - 5px), --alpha(var(--color-white) / 10%) 100%);
}

/* Added as utility to allow it to be used in others' @apply  */
@utility element-level-2 {
    @apply rounded-xs bg-theme-primary-variation text-theme-text shadow-level-3;
}
