@import url('https://fonts.googleapis.com/css2?family=Gabarito:wght@400..900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');
@import 'tailwindcss';

@theme {
    --font-roboto: 'Roboto', Arial, sans-serif;
    --font-gabarito: 'Gabarito', sans-serif;

    --color-theme-dunkelgruen: #758d76;
    --color-theme-gelb: #ebbd27;
    --color-theme-weinrot: #9e4f5b;
    --color-theme-hellgruen: #afc9ba;

    --color-theme-background: var(--color-neutral-100);
    --color-theme-text: var(--color-slate-800);
    --color-theme-link: var(--color-slate-700);

    --color-theme-primary: #619961;
    --color-theme-secondary: var(--color-theme-weinrot);
    --color-theme-accent: #ffd82d;
    --color-theme-primary-variation: #76ad85;

    --drop-shadow-centered-xs: 0 0 1px var(--tw-drop-shadow-color, rgb(0 0 0 / 0.15));
    --drop-shadow-centered-sm: 0 0 2px var(--tw-drop-shadow-color, rgb(0 0 0 / 0.15));
    --drop-shadow-centered-md: 0 0 3px var(--tw-drop-shadow-color, rgb(0 0 0 / 0.15));
    --drop-shadow-centered-lg: 0 0 4px var(--tw-drop-shadow-color, rgb(0 0 0 / 0.15));
}

@layer base {
    html {
        @apply [--header-footer-height:--spacing(21)] [--header-footer-margin:calc(var(--header-footer-offset)*2)] [--header-footer-offset:--spacing(6)] xl:[--header-footer-height:--spacing(28)] xl:[--header-footer-offset:--spacing(8)];
        @apply [scroll-padding-top:calc(var(--header-footer-height)+(var(--header-footer-margin)/2))] scroll-smooth md:[scroll-padding-top:calc(var(--header-footer-height)+2*var(--header-footer-margin))];
    }

    body {
        @apply h-auto w-dvw overflow-x-hidden bg-theme-background bg-[url(/svg/symbole_hintergrund.svg)] [background-size:100%] [background-position:0_var(--header-footer-margin)] font-roboto text-sm font-normal text-theme-text;

        /* @apply [--container-width:calc(100dvw-(2*var(--container-horizontal-margin)))] [--page-height-no-header-no-footer:calc(100dvh-var(--header-footer-height)-2*var(--header-footer-margin))]; */
        @apply [--container-width:calc(100dvw-(2*var(--container-horizontal-margin)))] [--page-height-no-header-no-footer:calc(100dvh-2*var(--header-footer-height))];

        @apply [--container-horizontal-margin:--spacing(6)] md:[--container-horizontal-margin:--spacing(16)] lg:[--container-horizontal-margin:--spacing(32)] xl:[--container-horizontal-margin:--spacing(56)] 2xl:[--container-horizontal-margin:--spacing(76)];

        @apply [--content-card-padding-double:calc(var(--content-card-padding)*2)] [--content-card-padding-half:calc(var(--content-card-padding)/2)] [--content-card-padding:--spacing(2)];
    }

    main {
        @apply mx-auto;
    }

    h1 {
        @apply font-gabarito text-5xl;
    }

    h2 {
        @apply font-gabarito text-4xl;
    }

    h3 {
        @apply font-gabarito text-3xl;
    }

    h4 {
        @apply font-gabarito text-2xl;
    }

    h5 {
        @apply font-gabarito text-xl;
    }

    h6 {
        @apply font-gabarito text-lg;
    }

    a {
        @apply text-theme-link hover:underline active:underline;
    }

    hr {
        @apply w-full border-b-4;
    }

    ol,
    ul {
        @apply pl-(--content-card-padding-double) [list-style:auto];
    }
}

@layer components {
    #frontend-root {
        @apply min-h-(--page-height-no-header-no-footer) w-full;
    }

    .button {
        @apply relative inline-block cursor-pointer rounded-xl border-1 border-t-2 border-emerald-300/50 bg-emerald-400 py-1 pr-2 pl-6 font-gabarito text-base text-emerald-50! no-underline shadow-md outline-2 outline-offset-2 outline-transparent transition-[outline-color,transform] hover:-translate-y-px hover:text-white! hover:shadow-lg hover:outline-emerald-600/10 focus:-translate-y-px focus:outline-emerald-600;
        @apply before:absolute before:top-1/2 before:left-2 before:size-3 before:-translate-y-1/2 before:bg-theme-accent/75 before:transition-[background-color] before:[clip-path:polygon(0%_0%,100%_50%,0%_100%)] hover:before:animate-pulse hover:before:bg-theme-accent;
    }

    .floating-button {
        @apply relative inline-block cursor-pointer rounded-full border-1 border-emerald-400 bg-emerald-400/50 p-2 font-gabarito text-base text-theme-background no-underline shadow-md outline-2 outline-offset-2 outline-transparent transition-[outline-color,transform] hover:-translate-y-px hover:text-white! hover:shadow-lg hover:outline-emerald-600/10 focus:-translate-y-px focus:outline-emerald-600;
    }

    .element-level-1 {
        @apply rounded-xs border border-theme-primary bg-white text-theme-text shadow-md;
    }

    .element-level-2 {
        @apply rounded-xs bg-theme-primary-variation text-theme-text shadow-md;
    }

    /* input[name="input-radio-leistungen"] + label  */
    .header-menu-item {
        @apply relative flex flex-row items-center drop-shadow-xs;
    }

    .header-menu-item-label {
        @apply rounded-xs border border-theme-primary py-px pr-0.5 text-theme-primary-variation peer-checked:text-theme-background hover:text-theme-background hover:**:no-underline! peer-checked:hover:**:cursor-default! md:py-0 md:pr-2;
        @apply after:absolute after:top-0 after:left-0 after:-z-10 after:h-full after:w-full after:bg-theme-background after:transition-[transform,background-color] peer-checked:after:bg-theme-primary-variation hover:after:bg-theme-primary-variation;
        /* @apply  peer-checked:after:h-(--header-footer-height) ; */
    }

    .header-menu-item-label > a {
        @apply block flex h-7 flex-row items-center text-xs leading-none text-inherit select-none md:text-sm;
    }

    .header-menu-item-label > a > img {
        @apply inline-block aspect-square h-full -translate-x-1/4 scale-130 object-cover;
    }

    .image-hover {
        @apply transition-[filter] group-hover:brightness-110 group-hover:saturate-125 hover:brightness-110 hover:saturate-125 active:brightness-110 active:saturate-125;
    }

    .input-clip-hidden {
        @apply absolute -z-1000 size-0 [clip-path:polygon(0%_0%,0%_0%,0%_0%)];
    }
}
