@import 'tailwindcss';

a {
    @apply saturate-150 visited:saturate-50 hover:underline active:underline;
}

button {
    border-radius: 8px;
    border: 1px solid transparent;
    padding: 0.6em 1.2em;
    font-size: 1em;
    font-weight: 500;
    font-family: inherit;
    background-color: #c2c2c2;
    cursor: pointer;
    transition: border-color 0.25s;
}
button:hover {
    border-color: #646cff;
}
button:focus,
button:focus-visible {
    outline: 4px auto -webkit-focus-ring-color;
}

:root {
    @apply h-dvh w-dvw bg-cyan-400 [--container-horizontal-margin:10%] [--container-width:calc(100dvw-(2*var(--container-horizontal-margin)))] [--header-footer-gutter:--spacing(6)] [--header-footer-height:--spacing(28)] [--header-footer-remaining-height:calc(100dvh-2*(var(--header-footer-height)-var(--header-footer-gutter)))];
}

#frontend-root {
    @apply -mt-(--header-footer-gutter) flex min-h-(--header-footer-remaining-height) w-full flex-col items-center justify-center py-[calc(var(--header-footer-gutter)*2)] text-2xl;
}
