@import 'tailwindcss';

a {
    @apply saturate-150 visited:saturate-50 hover:underline active:underline;
}

button {
    border-radius: 8px;
    border: 1px solid transparent;
    padding: 0.6em 1.2em;
    font-size: 1em;
    font-weight: 500;
    font-family: inherit;
    background-color: #c2c2c2;
    cursor: pointer;
    transition: border-color 0.25s;
}
button:hover {
    border-color: #646cff;
}
button:focus,
button:focus-visible {
    outline: 4px auto -webkit-focus-ring-color;
}

body {
    @apply h-auto text-base w-dvw overflow-x-hidden bg-cyan-400  [--container-horizontal-margin:5%] md:[--container-horizontal-margin:10%] xl:[--container-horizontal-margin:20%] [--container-width:calc(100dvw-(2*var(--container-horizontal-margin)))] [--header-footer-gutter:--spacing(6)] [--header-footer-height:--spacing(28)] [--page-height-no-header-no-footer:calc(100dvh-2*(var(--header-footer-height)-var(--header-footer-gutter)))] [--page-height-no-header:calc(100dvh-var(--header-footer-height)-var(--header-footer-gutter))];
}

#frontend-root {
    @apply -mt-(--header-footer-gutter) flex min-h-(--page-height-no-header-no-footer) w-full flex-col items-center justify-center pb-[calc(var(--header-footer-gutter)*4)] pt-[calc(var(--header-footer-gutter)*2.5)] ;
}
